body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #3F3F3F;
}

/* Navigation */
nav {
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #F3F3F3 ;
    height: 50px;}
nav ul{
    padding: 0;
    margin: 0;}
.navigation {
    color: #000;
    font-weight: bold;
    display: inline-block;
    padding: 10px 15px;
    margin: 5px;
    background-color: #ffcc00;
    border-radius: 4px;}
.navigation a{
    text-decoration: none;
    color: #000;}
.navigation.right {
    float: right;}

/* Content */
#content-container {
    width:100%;
    margin: 0;
    padding: 0;}
#heading-container {
    display: inline-block;
    vertical-align: middle;
    line-height: 75px;}
.heading {
    height: 55px;
    width: 150px;
    font-weight:bold;
    float: left;
    font-size: 36px;
    color: #000;
    padding: 5px 15px 20px 15px;
    margin-right: 10px;
    text-align: left;
    display:table-cell;
    vertical-align:middle;}
.tag-selector {
    height: 55px;
    line-height: 75px;
    width: 170px;
    float: left;
    padding: 5px 15px 20px 15px;
    text-align: center;
    display:table-cell;
    vertical-align:middle;}
.tag-selector select {
    padding: 10px;
    width: 200px;
    border: none;
    background-color: #F3F3F3 ;
    -webkit-appearance: none;}

/* Login UI */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    height: 100vh;}
.login {
    border: 1px solid #F3F3F3;
    width: 300px;
    padding: 40px;
    border-radius: 10px;}
.login button{
    width: 100%;
    padding: 10px;
    border: 1px solid #F3F3F3;
    border-radius: 4px;
    background-color: #ffcc00;
    color: #000;
    font-weight: bold;
    cursor: pointer;}
.login-field {
    margin: 15px 0;}
.login-field input {
    width: 92%;
    padding: 10px;
    border: 1px solid #F3F3F3;
    border-radius: 4px;}

/* Place UI */
.places-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    padding: 5px;}
.places-list th {
    background-color: #ffcc00;
    color: #000;
    font-weight: bold;
    padding: 5px;}
.places-list-item {
    align-items: center;
    background-color: #bbb;
    margin: 5px;
    padding: 0;}
.places-list-item .name {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}
.places-list-item .name a {
    text-decoration: none;}
.places-list-item .contents {
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;}
.places-list-item .rating {
    padding: 5px;
    margin: 0;}
.places-list-item .location {
    padding: 5px;
    margin: 0;}
.star {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.2rem;
    color: #bbb;
    cursor: pointer;}
.star.filled {
    color: #ffcc00;}