{% extends 'base.html' %}
{% block title %}
    {{ page_title }} | {% include "base_title.html" %}
{% endblock %}

{% block content %}
<div class="login-container">
<div class="login">
    <h2>Login</h2>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="login-field">
            <label for="id_username">Username:</label>
            <input type="text" name="username" id="id_username">
        </div>
        <div class="login-field">
            <label for="id_password">Password:</label>
            <input type="password" name="password" id="id_password">
        </div>
        <button type="submit">Login</button>
    </form>
</div>
</div>
{% endblock %}


    <!-- Login form goes here -->
 