<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <meta charset="UTF-8">
        <title>{% block title %}{% include 'base_title.html' %}{% endblock %}</title>
        {% block styles %}{% include 'base_styles.html' %}{% endblock %}
    </head>
    <body>
        {% block navigation %}{% include 'base_nav.html' %}{% endblock %}

        {% block content %}{% endblock %}

        {% block scripts %}{% endblock %}
    </body>
</html>