Welcome to the Places Memo website. This site is a work in progress. It is intended to be a place where people can share their memories of places they have visited. The site is currently in a very early stage of development. It is not yet possible to add new places or memories. However, you can browse the existing places and memories. You can also register for an account. This will allow you to add new places and memories in the future. If you have any questions or comments, please contact me at
</br>
</br>
<a href="{% url 'login' %}" >Login</a>