{% extends 'base.html' %}
{% block content %}
<div class="place-form-container">
  <div class="content">
    <h1>Add a new place</h1>
    <form method="post">
      {% csrf_token %}

      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" class="form-control" value="{{ place.name }}">
      </div>

      <div class="form-group">
        <label for="rating">Rating:</label>
        <select name="rating" id="rating" class="form-control" value="{{ place.rating }}">
          {% for i in "12345" %}
            {% if forloop.counter == place.rating %}
              <option value="{{ forloop.counter }}" selected>{{ i }} star</option>
            {% else %}
              <option value="{{ forloop.counter }}">{{ i }} star</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>

      <div class="form-group">
        <label for="location">Location:</label>
        <input type="text" name="location" id="location" class="form-control" value="{{ place.location }}"></textarea>
      </div>

      <div class="form-group">
          <label for="tags" >Tags:</label>
          <input type="text" name="tags" id="tags" class="form-control" title="comma separated" value="{{ place.tags.all|join:', ' }}">
      </div>

      <div class="form-group">
        <label for="notes">Notes:</label>
        <textarea type="text" name="notes" id="notes" class="form-control" value="{{ place.notes }}">{{ place.notes }}</textarea>
      </div>   

      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
{% endblock %}
