{% extends "base.html" %}
{% block title %}
    {{ page_title }} | {% include "base_title.html" %}
{% endblock %}
{% load static %}
{% block content %}
    <h1>{{ place.name }}</h1>
    <span>Name: {{ place.name }}</span>
    <br>
    {% if place.location %}
        <span>Location: {{ place.location }}</span>
    {% endif %}
    {% if request.user == place.owner %}
        <br><br>
        <a href="{% url 'places:update' slug=place.slug %}"><button>Update</button></a>
        <a href="{% url 'places:delete' slug=place.slug %}"><button>Delete</button></a>
    {% endif %}
    <br><br>
    <a href="{% url 'memos:create' %}?place_id={{ place.id }}"><button>Create a Memo</button></a>
    {% if memos %}
        <ul>
            {% for memo in memos %}
                {% if request.user == memo.created_by  %}
                    <a href="{% url 'memos:detail' pk=memo.pk %}">
                        <li class="row" data-memo-id="{{ memo.id }}" data-tags="{% for tag in memo.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}">
                            <span>Created by: {{ memo.created_by }}</span>
                            <span>Rating: {{ memo.rating }}</span>
                            {% if memo.tags.all.count == 0 %}
                            {% else %}
                                Tags: 
                                {% for tag in memo.tags.all %}
                                    <span class="tag">{{ tag.name }}</span>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                            <span>Notes: {{ memo.notes }}</span>
                        </li>
                    </a>
                {% else %}
                    <li class="row" data-memo-id="{{ memo.id }}" data-tags="{% for tag in memo.tags.all %}{{ tag.name }}{% if not forloop.last %}, {% endif %}{% endfor %}">
                        <span>Created by: {{ memo.created_by }}</span>
                        <span>Rating: {{ memo.rating }}</span>
                        <span>Notes: {{ memo.notes }}</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no memos for this place, yet.</p>
    {% endif %}
{% endblock %}