{% extends 'base.html' %}
{% block title %}
    {{ page_title }} | {% include "base_title.html" %}
{% endblock %}
{% block content %}
<h1>{{ page_title }}</h1>
{% if message %}
    {% for msg in message %}
        {{ msg }}
    {% endfor %}
{% endif %}
<form method="post">
    {% csrf_token %}
    {% if memo.place %}
        <input type="hidden" name="place" id="place" class="form-control" value="{{ memo.place.id }}">
    {% else %}
        <input type="hidden" name="place" id="place" class="form-control" value="{{ place_id }}">
    {% endif %}
    <label for="rating">Rating:</label>
    <select name="rating" id="rating" class="form-control" value="{{ memo.rating }}">
        <option value="1" {% if place.rating == 1 %}selected{% endif %}>1</option>
        <option value="2" {% if place.rating == 2 %}selected{% endif %}>2</option>
        <option value="3" {% if place.rating == 3 %}selected{% endif %}>3</option>
        <option value="4" {% if place.rating == 4 %}selected{% endif %}>4</option>
        <option value="5" {% if place.rating == 5 %}selected{% endif %}>5</option>
    </select>
    <label for="tags" >Tags:</label>
    <textarea type="text" name="tags" id="tags" class="form-control" title="comma separated" value="{{ memo.tags.all|join:', ' }}">{{ memo.tags.all|join:', ' }}</textarea>
    <label for="notes">Notes:</label>
    <textarea type="text" name="notes" id="notes" class="form-control" value="{{ memo.notes }}">{{ memo.notes }}</textarea>
    {% if lists %}
        <label for="lists">Lists: </label>
        <select name="lists" id="lists" class="form-control" value="{{ memo.lists.all|join:', ' }}">
            {% for list in lists %}
                <option value="{{ list.id }}" {% if memo.lists.all|join:', ' == list.name %}selected{% endif %}>{{ list.name }}</option>
            {% endfor %}
        </select>
    {% endif %}
    <button type="submit">Save</button>
</form>
{% endblock %}
